*.DS_Store
video.MOV
.vscode/*
depth/*
AR-Depth-cpp/CMakeFiles
AR-Depth-cpp/CMakeCache.txt
AR-Depth-cpp/*.cmake
AR-Depth-cpp/AR_DEPTH
AR-Depth-cpp/Makefile
AR-Depth-cpp/build/CMakeFiles
AR-Depth-cpp/build/AR_DEPTH
AR-Depth-cpp/build/cmake_install.cmake
AR-Depth-cpp/build/CMakeCache.txt
AR-Depth-cpp/build/Makefile